@supports selector(:has(input)) {
    body:has(input[name="unit"][value="history in distance"]) ul li span {
      display: block;
    }

    /* hide timeline times spans depending on the unit selected */
    body:has(input[name="unit"][value="history in a year"]:checked) span[data-unit]:not([data-unit="history in a year"]) {
      display: none;
    }

    body:has(input[name="unit"][value="history in a day"]:checked) span[data-unit]:not([data-unit="history in a day"]) {
      display: none;
    }

    body:has(input[name="unit"][value="years vs present"]:checked) span[data-unit]:not([data-unit="years vs present"]) {
      display: none;
    }

    body:has(input[name="unit"][value="years vs era"]:checked) span[data-unit]:not([data-unit="years vs era"]) {
      display: none;
    }

    body:has(input[name="unit"][value="history in distance"]:checked) span[data-unit]:not([data-unit="history in distance"]) {
      display: none;
    }

    /* hide timeline times spans depending on the unit selected */
    body:has(input[name="startpoint"][value="genus homo"]:checked) span[data-start]:not([data-start="genus homo"]) {
      display: none;
    }

    body:has(input[name="startpoint"][value="daily usage of fire"]:checked) span[data-start]:not([data-start="daily usage of fire"]) {
      display: none;
    }

    body:has(input[name="startpoint"][value="homo sapiens"]:checked) span[data-start]:not([data-start="homo sapiens"]) {
      display: none;
    }


    /* hides events anterior to startpoint selected */
    body:has(input[name="startpoint"][value="daily usage of fire"]:checked) li:not([data-start-fire-compatible]) {
      display: none;
    }
    body:has(input[name="startpoint"][value="homo sapiens"]:checked) li:not([data-start-sapiens-compatible]) {
      display: none;
    }
  }