---
import FormUnit from "./FormUnit.astro";
import FormStart from "./FormStart.astro";
---

<script src='../utils/main.ts'></script>
<section>
  <FormUnit />
  <FormStart />
</section>

<style>
  section {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
  }
</style>
<style is:global>
  form.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25px;
    box-shadow: var(--shadow-elevation-high);
    margin-bottom: 70px;
    min-block-size: auto;
    min-inline-size: auto;
  }
  form.card p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  form.card p.form-output {
    font-size: 1.2em;
    padding-bottom: 15px;
    text-transform: capitalize;
  }
  .form-output output {
    font-weight: bold;
  }
  summary {
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
  }
  details > summary {
    list-style-type: "â–¶ï¸";
  }

  details[open] > summary {
    list-style-type: "ðŸ”½";
  }

  details {
    border: 1px solid rgba(53, 53, 53, 0.308);
    border-radius: 0.2rem;
    padding: 0.5rem;
  }

  details[open] > summary {
    margin-bottom: 0.5rem;
  }
  fieldset {
    border: none;
  }
  fieldset div.inputs-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  fieldset div.input-option {
    padding: 5px 0 7px;
    border-radius: var(--radius-1);
  }
  fieldset div.input-option:not(.two-rows-reveal) {
    display: flex;
  }
  fieldset div.input-option:focus-within {
    outline: 4px solid var(--green-2-dark);
  }
  fieldset div.input-option:has(input:checked) {
    border-radius: var(--radius-1);
    background-color: var(--green-2-dark-2);
    color: #fff;
  }
  input,
  label {
    cursor: pointer;
  }
  .input-option > label {
    flex: 1;
  }
  @supports selector(:has(input)) {
    fieldset div.inputs-group {
      background-color: var(--green-1-light);
      padding: 4px;
      border-radius: var(--radius-2);
    }

    fieldset div.input-option:focus-within {
      outline: none;
    }
    fieldset div.input-option:has(input:focus-visible) {
      outline: 4px solid var(--pink-1);
    }
    fieldset input {
      width: 0;
      height: 0;
    }
    fieldset div.input-option:has(label:hover):not(:has(input:checked)) {
      background-color: var(--green-2-lighter);
    }
    .two-rows-reveal {
      grid-template-areas: "radio label";
      grid-template-rows: 1fr 0px;
      grid-template-columns: 8px 1fr;
    }
    .two-rows-reveal:has(> input:checked) {
      grid-template-areas:
        "radio label"
        ". to-reveal";
      grid-template-rows: 1fr 1fr;
    }
  }
  @media screen and (min-width: 800px) {
    form.card {
      margin-bottom: 100px;
    }
  }
</style>
