---
export interface Props {
  title: string;
}

const { title } = Astro.props;

const description =
  "An easy and fun new way to look at the timeline of humankind. E.g. What if humankind History was 1 day, at what hour would have happened the Agriculture Revolution? What about the first kingdoms, or money? You might be surprised ... 🤯";
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>'
    />
    <meta property='og:title' content={title} />
    <meta property='og:type' content='website' />
    <meta
      property='og:image'
      content='https://humankind-timeline.netlify.app/humankind-timeline-og.jpg'
    />
    <meta property='og:url' content='https://humankind-timeline.netlify.app' />
    <meta property='og:description' content={description} />
    <meta name='description' content={description} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <footer>
      Made with 💚 by <a href='https://raphaelferrand.com'>Raphaël Ferrand</a>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
<style>
  footer {
    margin-top: 50px;
    opacity: 0.7;
  }
</style>
