---
import "@fontsource/dm-serif-display";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const description = `Experience the entire span of human history compressed into a single day/year,
and gain a fresh perspective on the most significant events that shaped us.
 E.g. If Human History was compressed into 1 day, at what hour would have happened the Agriculture Revolution?
 What about the first kingdoms, or money? You might be surprised ... 🤯`;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>'
    />
    <meta property='og:title' content={title} />
    <meta property='og:type' content='website' />
    <meta
      property='og:image'
      content='https://humankind-timeline.netlify.app/humankind-timeline-og.jpg'
    />
    <meta property='og:url' content='https://humankind-timeline.netlify.app' />
    <meta property='og:description' content={description} />
    <meta name='description' content={description} />

    <title>{title}</title>

    <!-- test counter.dev analytics -->
    <script
      async
      src='https://cdn.counter.dev/script.js'
      data-id='0466ff03-46a9-4faa-a519-cfa045edc2c7'
      data-utcoffset='1'
    ></script>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --yellow-oklch: oklch(94.4% 0.238 109.16);
    --green-oklch: oklch(85.1% 0.351 143.94);
    --gradient-martini: linear-gradient(
      to right,
      var(--yellow-oklch),
      var(--green-oklch)
    );
    --violet-1: rgb(var(--accent));
    --pink-1: #da62c4;
    --green-1-light: #e4f6e3;
    --green-1: #aaffa9;
    --green-2: #11ffbd;
    --green-2-light: #83ffdc;
    --green-2-lighter: rgb(202, 255, 222);
    --green-2-rgb-values: 17 255 189;
    --green-2-dark: #1fc697;
    --green-2-dark-2: #1f856a;
    --green-2-darker: #17392f;
    --grey-green-2: #3a4642;
    --green-3-rgb-values: 217 243 216;
    --red-1: #f12711;
    --yellow-1: #fdc830;
    --orange-1: #f37335;
    --gradient-green: linear-gradient(to right, var(--green-1), var(--green-2));
    --gradient-orange: linear-gradient(
      to right,
      var(--yellow-1),
      var(--orange-1)
    );
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      var(--pink-1) 30%,
      white 60%
    );
    --shadow-color: 118deg 21% 56%;
    --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
    --radius-1: 6px;
    --radius-2: 8px;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--green-1-light);
  }
  body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  h1,
  h2,
  h3,
  legend {
    font-family: "DM Serif Display", serif;
  }
  .card {
    border-radius: 15px;
    z-index: 5;
  }
  .card.green {
    background: var(--gradient-green);
  }
  .card.orange {
    background: var(--gradient-orange);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .hidden-if-no-js {
    display: none !important;
  }
</style>
